.colorsBar {
  position: absolute;

  transition: 0.2s;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: var(--index_colors_bar);
}
.colorButton {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s;
  color: white;
}
.colorButton:not(:last-child):hover {
  width: 40px;
}
