/*
//
//
//
//
//
//
*/
.actions {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 5px;
  z-index: 999999;
  border: 1px solid var(--borderColor);
  overflow: hidden;
  padding: 2px 2px;
}
.actions_button {
  background-color: rgba(255, 0, 0, 0);
  width: 30px;
  aspect-ratio: 1/1;
  border: none;
  cursor: pointer;
}
.actions_button:hover {
  background-color: #ffffff10;
}
