* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  height: 100vh;
  width: 100vw;
  background-color: #1f1f1f;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;
}
:root {
  --themeColor: rgb(15, 91, 161);
}
